<h1 style="margin-left:42% ;">Order Details</h1>
<div style="margin-left:43% ;">
    <div>PO Number: {{orderDetails.poNumber}}</div>
    <br>
<div>Staus: {{orderDetails.status}}</div>
<br>
<div>PO Type: {{orderDetails.poType}}</div>
<br>
<div>PO Name: {{orderDetails.poName}}</div>
<br>
<div>Order Date: {{orderDetails.orderDate}}</div>
<br>
<div>Exp. Del. Date: {{orderDetails.expectedDeliveryDate}}</div>
<br>
<div *ngIf="orderDetails.actualDeliveryDate!=null">Actual Del. Date: {{orderDetails.actualDeliveryDate}}</div>
<div  *ngIf="orderDetails.actualDeliveryDate==null">
    <div>Actual Del. Date: Not Available</div>
</div>
<br>
<div>Price: {{orderDetails.price}}</div>
</div>
<button mat-raised-button class="button" color="primary" style="margin-left:5%;margin-top: 30px;" [routerLink]="['/dashboard']">Back</button>

<button mat-raised-button class="button" color="primary" style="float:right ;margin-right:100px ;margin-top: 30px;"
 *ngIf="orderDetails.status=='Pending'" (click)="updateStatus(orderDetails.id)">Mark Delivered</button>



